@font-face {
    font-family: Cormorant_Infant;
    src: url(fonts/Cormorant_Infant/Cormorant_Infant-Regular.ttf) format("ttf");
}

.section1{
    background-color: #F255F5;  
    display: flex;
    flex-wrap: wrap;
}

header{
    justify-content: flex-start;
    width: 90%;
    height: 5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff95;
    font-family: 'Font';
    font-size: x-large;
    z-index: 10000;
    color: white;
}

.title{
    font-family: 'Font';
    font-size: 3em;
    color: white;
    margin: 0;
    margin-top: 3em;
    margin-left: 1em;
}


@font-face {
    font-family: "Font";
    src: url(../fonts/otf_glusp/OTF®\ Glusp.ttf) format("truetype");
}

#carrousel{
    display: flex;
    justify-content: center;
    position: relative;
}

#container{
    display: flex;
    justify-content: center;
}

.button{
    position: absolute;
    width: 100px;
    cursor: pointer;
}

#d{
    transition: all 0.3 ease;
}

#d:hover{
    transform: scale(1.1);
    transition: all 0.3 ease;
}